nodes/代码执行.yaml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 代码执行
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges: []
    nodes:
    - data:
        code: "\ndef main(arg1: str, arg2: str) -> dict:\n    return {\n        \"\
          result\": arg1 + arg2,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        title: 代码执行
        type: code
        variables:
        - value_selector: []
          variable: arg1
        - value_selector: []
          variable: arg2
      id: '1743649855537'
      position:
        x: 382
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom