nodes/大语言模型.yaml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: LLM节点
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.11@410445eba2fa0f693d26dea2c3b9ffe51ad0777e021146ff877af6098412efc7
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges: []
    nodes:
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen2.5:72b-instruct-nq
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 3cd4113a-269f-4ef8-8431-4efd6529bfbe
          role: system
          text: ''
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: '1743649668631'
      position:
        x: 384
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom