nodes/模板转换.yaml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 模板转换
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload: {}
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges: []
    nodes:
    - data:
        desc: ''
        template: '{{ arg1 }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector: []
          variable: arg1
      id: '1743649871280'
      position:
        x: 382
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom